<!-- <div class="row mt-4">
<div class="col-md-6">  
<div class="row" style="height: 450px;">
<div class="col-md-12 my-auto side-header"> 
<img src="/assets/img/add_user.png" class="mx-auto d-block">
<h1>User Registration</h1>
<p><em>-Using <strong>ASP.NET Core Web API</strong> and <strong>Angular 7</strong></em></p>
</div>
</div>
</div>
<div class="col-md-6"> -->
  <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
    <div class="form-group required" >  
      <label>User Name:</label>
      <input class="form-control" formControlName="UserName">
      <label class="text-danger" *ngIf="service.formModel.get('UserName').touched &&
      service.formModel.get('UserName').errors?.required">This field is required!</label>
    </div>
    <div class="form-group required">  
        <label>Email:</label>
        <input class="form-control" formControlName="Email">
        <label class="text-danger" *ngIf="service.formModel.get('Email').touched &&
        service.formModel.get('Email').errors?.required">This field is required!</label>
        <label class="text-danger" *ngIf="service.formModel.get('Email').touched &&
      service.formModel.get('Email').errors?.email">Invalid email address!</label>
      </div>
      <div class="form-group">  
          <label>Full Name: <span style="font-size: 8px; font-style: italic; color:white">            (optional)</span></label>
          <input class="form-control" formControlName="FullName">
        </div>
        <div formGroupName="Passwords">
    <div class="form-group required" >  
            <label>Password:</label>
            <input type="password" class="form-control" formControlName="Password">
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched &&
      service.formModel.get('Passwords.Password').errors?.required">This field is required!</label>
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched &&
      service.formModel.get('Passwords.Password').errors?.minLength">Minimum 4 character required!</label>
          </div>
          <div class="form-group required" >  
              <label>Confirm Password:</label>
              <input type="password" class="form-control" formControlName="ConfirmPassword">
              <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched &&
              service.formModel.get('Passwords.ConfirmPassword').errors?.required">This field is required!</label>
              <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched &&
              service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Passwords does not match!</label>
            </div>
          </div>
          <div class="form-group" >  
            <label style="height: 2px">Admin special code:<span style="font-size: 8px; font-style: italic; color:white">          (optional)</span></label>
            <input type="text" class="form-control" formControlName="SpecialCode" >     
            <p style="font-style: italic; font-size: 10px; color: white">Are you an admin? put in the code your given</p>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 offset-md-2"> 
              <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formModel.valid">Register</button>
            </div>
          </div>
  </form>
<!-- </div>       
</div>   -->
