<hr> 
<div class="flex-container">  
  <div class="card" style="width: 25rem; margin-left: 10px; justify-content: center;" *ngFor="let project of projectList">
    <img class="card-img-top" [src]="project.ImageURL" alt="No Image">
    <div class="card-body">
      <h3 class="card-title" style="font-weight: bold">      {{ project.ProjectName }}
      </h3>
      <p class="card-text">{{ project.Description }}</p>
      <strong>Is done?: </strong>
      <p style="color: rgb(23, 223, 43)" *ngIf="project.IsDone">Yes</p>
      <p style="color: red" *ngIf="!project.IsDone">Not Yet</p>   
      <button style="justify-content: center" class="btn btn-primary" (click)="onChangeDone(project.Id)"><span *ngIf="!project.IsDone">Done</span>
        <span style="justify-content: center" *ngIf="project.IsDone">Not Done</span></button>
      <hr>
      <button class="btn btn-danger" (click)="onRemove(project.Id)">Delete Project</button>
    </div>
  </div></div>