<div class="row"> 
  <div class="col s6 offset-s3">  
    <div class="card" style="margin: 100px">  
      <div class="card-image">  
        <img src="/assets/img/404.jpg" style="padding-left: 300px; height: 460px;">
      </div>
      <div class="card-content">  
        <span class="card-title" style="color:#039be5; text-align: center;">Oops..! you've reached a page that doesn't exist or was removed!</span>
        <p style="color:#039be5; text-align: center;"></p>
        <a routerLink="/home" style="font-style: oblique; text-align: center;">Click here to get back to home page</a>
        <hr>
      </div>
    </div>
  </div>
</div>