<nav class="navbar navbar-dark bg-dark sticky-top">
  <a class="navbar-brand text-white" routerLink="/home">Project Managment Studio</a>
  <ul class="nav justify-content-center mr-auto"> 
    <li class="nav-item"> 
      <a class="nav-link" routerLink="/home/adminpanel" *ngIf="admin">Admin Panel</a>
    </li>
    <li class="nav-item"> 
      <a class="nav-link" routerLink="/home/newproject">Add Project</a>
    </li>
    <li class="nav-item"> 
    <a class="nav-link" routerLink="/home/myprojects">My Projects</a>
  </li>
  <li class="nav-item"> 
      <a class="nav-link" routerLink="/home/privatepanel">Private Panel</a>
    </li>
  </ul>
  <a class="navbar-brand text-white"  *ngIf="!verified">Email Not Confirmed</a>
  <a class="navbar-brand text-white"  *ngIf="userDetails">Welcome {{ userDetails.userName }}  </a>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Log out</button>
</nav>
<router-outlet></router-outlet>
<!-- 
<div class="card m-5" style="width: 18rem" *ngIf="userDetails"> 
<ul class="list-group"> 
  <li class="list-group-item">  
    <strong>User name: </strong>
    {{ userDetails.userName }}
  </li>
  <li class="list-group-item">  
    <strong>Full name: </strong>
    {{ userDetails.fullName }}
  </li>
  <li class="list-group-item">  
    <strong>Email: </strong>
    {{ userDetails.email }}
  </li>
  <li class="list-group-item">  
    <strong>Verified? </strong>
   <p *ngIf="verified">Email Verified</p>
   <p *ngIf="!verified">Email Not Verified Yet</p>
  </li>
</ul> 
</div>-->